<div class="container">
  <div class="row">
    <!-- Loop through the blogs array and generate a card for each blog -->
    <div *ngFor="let blog of blogs" class="col-md-4" (click)="navigateToPostDetails(blog.id)">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">{{ blog.description }}</p>
          <button class="update-button" (click)="navigateToEditPost(blog.id)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
